@import url('https://fonts.googleapis.com/css?family=Arsenal|Dosis|Indie+Flower|Lato|Open+Sans|Overpass|PT+Sans|Raleway|Roboto');

body{
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}


div {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 18em;
}

button{
  font-family: "Dosis";
  font-size: 3em;
  width: 2em;
  height: 1.5em;
  margin: 0 auto;
  margin-right: 0.2em;
  border-radius: 5px;
  background: none;
  padding-bottom: 1.7em;
}

p {

  font-size: 0.35em;
  margin-top: -0.5em;
  

}
